<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Chat App</title>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="/css/main_bootstrap.css">
</head>
<body>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-3">
        <h3>People</h3>
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" name="username" type="text" class="form-control" id="user" placeholder="Username">
        </div>
      </div>

      <div class="col-xs-12 col-md-9">
        <!-- Element populated by jQuery with new incoming messages -->
        <ol id="messages"></ol>

        <form id="message-form" action="">
          <div class="form-group">
            <label for="message">Message</label>
            <input id="message" name="message" type="text" class="form-control" id="message" placeholder="Message">
          </div>
          <button id="btn-send-text" type="submit" class="btn btn-primary">Send Message</button>
          <button id="btn-send-location" class="btn btn-info">Share Current Location</button>
        </form>

        <div id="notice-geolocation-not-supported" class="alert alert-warning hidden" role="warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Bummer!</strong> Your browser does not support geolocation.
        </div>

        <div id="notice-geolocation-failed" class="alert alert-warning hidden" role="warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Bummer!</strong> Geolocation failed.
        </div>

      </div>
    </div><!-- END .row -->
  </div>

  <script src="/js/libs/jquery/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
